body{
    /*Background image styling*/
    background: black url("../images/background.jpg") no-repeat fixed right top;
    background-size: cover;
    color:#1DF500;
}

/*Body's children*/
body>*{
    background-color: rgba(0, 0, 0, 0.20);
}